/* Weather */
#weatherWidget .panel__content {
  height: 100%;
}

.weather-embed {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  gap: 8px;
}

.weather-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 16px;
  background: transparent;
}
